/*

  JUST NOW styles

*/

.v100 { min-height: 100vh; }

.pt10 { padding-top: 10rem; }

.mt10 { margin-top: 10rem; }

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

:root {



}